<a href="https://colab.research.google.com/github/sheyijojo/ETL/blob/main/Sheyi_cidm_6351.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Olusheyi Gaji")
print("Monday class is fun")

Olusheyi Gaji
Monday class is fun

In [ ]:
a = 10
b = 3
c = 2.5

print('Addition: ' ,a+b)
print('Subtraction: ' ,a-b)
print('Multiplication: ' ,a*b)
print('Multiplication: ' ,a*c)
print('Division: ' ,a/b)
print('Division: ' ,a//b)
print('Modulus: ' , a%b)

Addition:  13
Subtraction:  7
Multiplication:  30
Multiplication:  25.0
Division:  3.3333333333333335
Division:  3
Modulus:  1

In [ ]:
stud_id = int(input("please input your student ID: "))
stu_name = input("please input your student name: ")
print(f'The ID of {stud_id} is {stu_name}')

please input your student ID: 43
please input your student name: seyi
The ID of 43 is seyi

In [ ]:
num1 = int(input("input the first integer: "))
num2 = int(input("input the second number: "))
print(f'num1 - num2 = {num1 - num2}')

input the first integer: 500
input the second number: 300
num1 - num2 = 200

Making comparison statement

In [ ]:
"""
Is this a a code for multiple statement?"

"""

print("true")

true

In [ ]:
has_license = False
if has_license == True:
  print('You can drive')
print('False condition, skip the if statement')

False condition, skip the if statement

**Comparing Two Values**

In [ ]:
number1 = 20
number2 = 30
print(20>30)
print(number2>number1)
print(number1>=number2)
print(number1 == number2)
print('Alice' != 'Bob')

False
True
False
False
True

**IF statement help to make decisioon with one choice.**

We can rep this statment in python using the IF statement.


*   You are an adult if you are 18years old.
*   You can drive a car if you have a driver license.

In [ ]:
age = 22
if age >= 18:
  print("You are an adult")
#else:
#print("Are you Happy Now!")

# Example 2
has_license = False
if has_license == True:
  print("You can drive a car")

"""# Example 3
has_license = True
if has_license == True:
  print("You can drive a car")"""

You are an adult
You can drive a car

In [ ]:
#ifelif is good for multiple condition
# Good for multiple conditions

x = -2

if x>0:
  print("x is +ve")
elif x == 0:
  print("x is equal to zero")
else:
  print(" x is -ve")
  ("\n")

 x is -ve

In [ ]:
n1 = 10
n2 = 40
n3 = 30

if n1>n2:
  if n1>n3:
    print("The largest number is n1")

  else:
    print("The largest number is n3")
else:
  if n2>n3:
   print("The largest number is n2") 

  else:
    print("The largest number is: n3 ")

The largest number is n2

**Boolean Logical operators are used to make more complicated conditions for if statements that rely on more than one conditiob : and, or, & not**

In [ ]:
#both stament must be true
print(2>10 and 2<3)

# one statement is true
print(2>10 or 2<3)

#invert a statment
print(not 2<1)

False
True
True

age = 19
driver_license = True

if age<19:
  if driver_license == True :
    print("You can drive")

  else:# meaning driver's license is false
    print("you cannot drive")

else: # meaning cannot drive if age less than 19
  print("you cannot drive: you heard me! ")

In [ ]:
age = 19
driver_license = True

if age<19:
  if driver_license == True :
    print("You can drive")

  else:# meaning driver's license is false
    print("you cannot drive")

else: # meaning cannot drive if age less than 19
  print("you cannot drive: you heard me! ")

you cannot drive: you heard me!

# you can apply for phd if you have B.S or M.S

In [ ]:
degree = 'M.S.'
if degree == 'B.S' or degree == 'M.S.':
  print('You can apply for Ph.D')


# check the sub-conditions in parentheses first
# check not, and, or sequentially.

print(10>20 and 20<30 or not (1 != 5))

You can apply for Ph.D
False

In [ ]:
# Loops are used to repeat a block of code multiple times. Here are two types of loops: while loop and for loop.

In [ ]:
num = 0;
while num<=5:
 print(num)
 num = num + 1
 
 print("end")

0
1
2
3
4
5
end